<div class="content_wrapper" class="" [style.display]="data._id==stateService.menuSelectId?'block':'none'">
  <div class="content_header">
    <button style="float:right; margin-right:70px;" nz-button [nzType]="'primary'" (click)="addModule()">
      <span>添加模块</span>
    </button>
  </div>
    <div class="content_back">
       <app-menu-item [menuList]="menuList"></app-menu-item>
    </div>
    <nz-modal [nzVisible]="isVisible" [nzTitle]="''" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
          <ng-template #modalContent>
            图标<i class="anticon {{_icon}}"></i>:标题
            <nz-input-group [nzSize]="'large'" [nzCompact]="true">

      <input [(ngModel)]="_icon" style="width: 20%;" nz-input>
      <input [(ngModel)]="_title" style="width: 30%;" nz-input>
    </nz-input-group>
          </ng-template>
        </nz-modal>
</div>
